# Ignore Python virtual environments
venv/
ENV/
env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Mac OS metadata files
.DS_Store

# Pytest cache
.pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Others
*.log